
__marimo__/
__pycache__/
__pypackages__/
._*
.abstra/
.cache
.cache/
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.DS_Store
.DS_Store?
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.tmp/
.tox/
.Trashes
.venv
.webassets-cache
*.cover
*.egg
*.egg-info/
*.html
*.log
*.manifest
*.mo
*.pdf
*.pot
*.py.cover
*.py[codz]
*.sage.py
*.so
*.spec
*.swo
*.swp
*~
*$py.class
/site
uv.lock
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
ehthumbs.db
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
node_modules/
nosetests.xml
npm-debug.log*
package-lock.json
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
site/
src_docs/site/
src_slides/*.html
src_slides/*.pdf
target/
temp/
Thumbs.db
tmp/
var/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*